.clock{
    background-color: rgb(45, 208, 203);
    border-radius: 10px;
    width: 700px;
    height: 400px;
    position: relative;
    margin: 11% auto;
    box-shadow: 
    0px 20px 10px 15px rgba(0, 0, 0, 0.15);
   
}

.screen{
    width: 650px;
    height: 350px;
     border-radius: 10px;
    background-color: rgb(177, 168, 237);
    position:absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(181, 135, 135);
    box-shadow: 
    0px 5px 10px 5px rgba(105, 116, 103, 0.15);

}

.button1, .button2 , .button3 , .button4{
    background-color: rgb(45, 208, 203);
    height: 50px;
    width: 20px;
    position: absolute;
    left: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid rgb(29, 72, 77);
    
}

.button1 { top: 10%; }
.button2 { top: 25%; }
.button3 { top: 40%; }
.button4 { top: 55%; }


.time-display{
    font-size: 80px;
   font-family: 'Orbitron', sans-serif;
    color: brown;
    text-shadow: 0 15px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    top:100px; left: 20px;
    
}

.date-display{
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    color: brown;
    text-shadow: 0 15px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    top:300px; left: 400px;


}

.day-display{
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    color: brown;
    text-shadow: 0 15px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    top:260px; left: 450px;
}

body{
    background-image:url("table.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
}

.stand{
background-color: rgb(35, 31, 31);
    height: 45px;
    width: 400px;
    position: absolute;
    left: 20%;
    margin-top: 400px;
    z-index: 2;
}

.Lstand{
background-color: black;
    height: 80px;
    width: 500px;
    position: absolute;
    left: 13%;
    border-radius: 40%;
    margin-top: 420px;
}